<!DOCTYPE html>
<html lang="zh-cn">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>商家管理中心</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/shopmanage/base.css"> 
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/shopmanage/index.css">
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/shopmanage/store.css">  
<link rel="stylesheet"  href="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/css/shopmanage/layer.css"  id="layui_layer_skinlayercss">  


  <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/shopmanage/jquery.js"></script>    
 <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/shopmanage/base.js"></script>
  <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/shopmanage/layer.js"></script> 
   <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/shopmanage/roll.js"></script>
 <script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/shopmanage/public.js"></script>
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/wxsite/js/shopmanage/dingwei.js"></script> 
<script src="<{$siteurl}>/templates/<{$tempdir}>/public/js/allj.js"></script> 
<script>
            function bd_encrypt(gg_lat, gg_lon)   // 百度地图测距偏差 问题修复
            {
                var x_pi = 3.14159265358979324 * 3000.0 / 180.0;
                var x = gg_lon;
                var y = gg_lat;
                var z = Math.sqrt(x * x + y * y) + 0.00002 * Math.sin(y * x_pi);
                var theta = Math.atan2(y, x) + 0.000003 * Math.cos(x * x_pi);
                var bd_lon = z * Math.cos(theta) + 0.0065;
                var bd_lat = z * Math.sin(theta) + 0.006;
                dingwei('#', bd_lat, bd_lon);

            }

            navigator.geolocation.getCurrentPosition(function (position) {
                bd_encrypt(position.coords.latitude, position.coords.longitude);
            });
</script>
</head>

<body>

<header class="top-fixed bg-yellow bg-inverse">
<div class="top-back"><a class="top-addr" href="javascript:history.go(-1)"><i class="icon-angle-left"></i></a></div>
<div class="top-title">上架产品</div>
<div class="top-share"><a href="javascript:void(0);" id="cate-btn" class="top-addr icon-chevron-down"> 添加</a></div>
</header>

<style>
.xiaoqu-search { margin-top:2rem;}
.list-media-x { margin-top: 0.0rem !important;}
.list-media-x p {margin-top: .01rem; line-height:20px;font-size: 12px;}
</style>

<div class="serch-bar-mask" id="cate_menu" style="display:none;top:50px;">
<div class="serch-bar-mask-list">
<ul>
<li><a href="/index.php?ctrl=wxsite&action=product_add">添加商品</a></li>
<li><a href="/index.php?ctrl=wxsite&action=category">添加商品分类</a></li>
</ul>
</div>
</div>

<script>
		$(document).ready(function () {
			$("#cate-btn").click(function () {
				$("#cate_menu").toggle();
			});
			
			$("#cate_menu ul li a").click(function () {
				$("#cate_menu").toggle();
			});

		});
</script>  


<div class="line xiaoqu-search">
<form method="post"  action="#" id="form1" class="form1">
<div class="form-group">
<div class="field">
<div class="input-group">
<span class="addbtn"><button type="button" class="button icon-search"></button></span>
<input type="text" class="input" name="keyword" size="50" value="" placeholder="商品名称"  />
<span class="addbtn"><button type="submit" class="button">搜索</button></span>
</div>
</div>
</div>
</form>
</div>

    

<style>ul { padding-left: 0px;}</style>
<!-- 筛选TAB -->
<ul id="shangjia_tab">
<li style="width:50%;"><a href="/index.php?ctrl=wxsite&action=product_list_on" class="on" >上架产品</a></li>
<li style="width:50%;"><a href="/index.php?ctrl=wxsite&action=product_list_off">下架产品</a></li>
</ul>    

    
<{foreach from=$goodslist item=items}>
<div class="list-media-x" id="list-media">
<ul>

<div class="blank-10 bg"></div>


<li class="line ">
<dt><a class="x4">商品ID：<{$items['id']}></a><a class="x8 text-right">剩余库存：<{$items['count']}></a></dt>

<dd class="zhong">
<div class="x4">
<img src="<{$items['img']}>"  style="width:90%;">
<span class="album" style="width:70px;">分销商品</span>         </div>
<div class="8">
<p class="text-small">标题：<{$items['name']}></p>
<p class="text-small">销量：<{$items['sellcount']}> &nbsp; 浏览：未知&nbsp; </p>
<p class="text-gray">手机下单立减：<span class="text-dot">10</span></p>
<p class="text-small"><span class="text-dot1 margin-right">商品单价：<span class="text-dot"><{$items['cost']}></span>&nbsp;</span></p>
<p class="text-small"><span class="text-dot1 margin-right">打包费：<span class="text-dot"><{$items['bagcost']}></span></span></p>
</div>
</dd>

<dt>
<div class="x12">
<span class="margin-right text-gray">商品简述：<{$items['descgoods']}></span>
</div>
</dt>
   
<dl>
<p class="text-left padding-top x6">
<a class="text-smal text-dot1" style=" font-size:12px; letter-spacing:0px;">发布日期：未知 </a>
</p>
          
<p class="text-right padding-top x6"> 
<a class="button button-small bg-dot" onclick="savegoodlive(<{$items['id']}>,0)">下架</a>
<a href="/index.php?ctrl=wxsite&action=product_edit&goodsid=<{$items['id']}>" class="button button-small bg-dot">编辑</a>
<a  href="javascript:void(0);" rel="<{$items['id']}>"  class="jquery-delete button button-small bg-dot">删除</a>
</p>
</dl>
</li>

<div class="blank-10 bg"></div>   

</ul>
</div> 
<{/foreach}>
    

<div class="list-media-x" id="list-media">
<ul>







<div class="blank-20"></div>
<div class="container login-open">
<h5 style="text-align:center">
<div class="paging"><span><{$count}> 条记录 1/1 页</span></div>
<!--分页代码不要忘记加-->
</h5>
</div>

<script>
	$(document).ready(function () {
		$(document).on('click', ".jquery-delete", function (e) {
			var goods_id = $(this).attr('rel');
			layer.confirm('您确定要删除该商品？', {
				skin: 'layer-ext-demo', 
				area: ['50%', 'auto'], //宽高
				btn: ['是的', '不'], //按钮
				shade: false //不显示遮罩
			}, function () {
				$.post("<{ofunc type=url link="/shopcenter/delgoods/datatype/json"}>", {id: goods_id}, function (result) {
					if (result.msg == "success") {
						layer.msg("删除成功");
						setTimeout(function () {
							window.location.reload()
						}, 500);
					} else {
						layer.msg("删除失败");
					}
				}, 'json');
			});
		});
		
		
	   
	});
	
	 function savegoodlive(goodsid,state){
	        var values=state
	        var backinfo = ajaxback('<{ofunc type=url link="/shopcenter/updategoods/datatype/json"}>',{'controlname':'is_live','goodsid':goodsid,'values':values});
	        if(backinfo.flag == true)
	        {
	            hideop();
	            alert(backinfo.content)
	        }else{
	            hideop();
	            alert('保存成功');
	            window.location.reload()
	        }
	 }
	 
	 function delgoods(gid){
		   if(confirm('确定删除该商品操作吗？')){ 
			var backinfo = ajaxback('<{ofunc type=url link="/shopcenter/delgoods/datatype/json"}>',{'id':gid});
			    if(backinfo.flag == true)
			    {
				    hideop();
				  alert(backinfo.content); 
			     }else{
			  	    hideop();
			  	    $('#goodstr_'+gid).remove();
			  	    alert('删除成功');
			     }  
			}
		}
</script>

</body>
</html>