 <{extends file="<{$tempdir}>/public/wxsite.html"}>  
<{block name=extendcss}>
 <style type="text/css">
     .hide{display:none;}
     .mesefillinfo img{vertical-align:middle;float:left;margin:0 5px;}

#shangjia_tab{
    display: block;
    width: 100%;
    height: 2.2rem;
    background-color: #fff;
    border-bottom: .11rem #dedede solid;
    position: fixed;
    z-index: 999;
    top: 2.5rem;
}
#shangjia_tab li {
    display: block;
	line-height: 36px;
    float: left;
}
#shangjia_tab li a.on {
    border-bottom: .22rem solid #ff6e6e;
    margin-top: -0rem;
}
#shangjia_tab li a {
    display: block;
    text-align: center;
    line-height: 2.2rem;
    height: 2.2rem;
    color: #999;
}
 </style>
 <{/block}>
 <{block name=extendjs}>
 <script type="text/javascript" language="javascript" src="<{$siteurl}>/templates/<{$tempdir}>/public/js/ajaxfileupload.js"> </script>
 <{/block}>
 <{block name=myScrolljs}>
<script> 
var scroll1, scroll2;
function loaded() { 
	scroll1 = new iScroll('wrapper',{
		useTransform: false,
		onBeforeScrollStart: function (e) {
			var target = e.target;
			while (target.nodeType != 1) target = target.parentNode;

			if (target.tagName != 'SELECT' && target.tagName != 'INPUT' && target.tagName != 'TEXTAREA'){
				e.preventDefault();
				}
		}
	});   
 }

document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
document.addEventListener('DOMContentLoaded', function () { setTimeout(loaded, 200); }, false);
</script>
<{/block}>
<{block name=hearnav}>
<div class="toptitCon">
 <div class="toptitBox">
  <div class="toptitL"><i></i></div>
  <div class="toptitC"><h3>商家入驻</h3></div>
 </div>
</div>
<{/block}>
<{block name=sitetitle}>商家入驻<{/block}>
 <{block name=blockcontent}> 
 <ul id="shangjia_tab">
<li style="width:50%;"><a href="/index.php?ctrl=wxsite&action=shopSettled" class="on">商家入驻</a></li>
<li style="width:50%;"><a href="/index.php?ctrl=wxsite&action=shopSettledP">个人入驻</a></li>
</ul>  
 <div id="wrapper" style="top:79px;">
	<div id="scroller">
 
	
<!--------信息进度-------->
<div class="processCon">
 <i class="pro_01"></i>
 <span class="proaL proaA">商家资料</span>
 <span class="proaC">账户信息</span>
 <span class="proaR">网站审核</span>
</div>
<!--------提示信息-------->
<div class="mesepromptCon">
 <ul>
  <li>1.完善店铺资料，以便于我们了解您的情况。</li>
  <li>2.认证所需资料不公开给任何组织和个人。</li>
  <li>3.审核通过的信息无法修改，如需帮助请致电客服：<{$litel}></li>
 </ul>
</div>
<!--------填写信息-------->
<div class="mesefillinfo">
 <ul>
   <li><span>联系电话：</span><input type="text" id="shopphone" value=""  placeholder="请输入电话"></li>
  <li><span>店铺名称：</span><input type="text" id="shopname" value=""  placeholder="请输入店铺名称"></li>
  <!-- <li><span>店铺地址：</span><input type="text" id="shopaddress" value="" placeholder="请输入店铺地址"></li> -->
  <li><span>省</span>
     <select name="province" id="province"><option value="0">请选择省份</option></select>
  </li>
  <li><span>市</span>
    <select name="city" id="city"><option value="0">请选择城市</option></select>
  </li>
  <li><span>县/区</span>
     <select name="county" id="county"><option value="0">请选择县区</option></select>
  </li>
  <li><span>店铺地址：</span><input type="text" id="shopaddress" value=""  placeholder="请输入街道门号"></li>


  <li><span>店铺类型：</span>
<select name="shoptype" id="shoptype" style="width:50%;font-size:13px;" >
                 	<{foreach from=$catlist item=itv}>
		 <option  value="<{$itv['cattype']}>_<{$itv['id']}>"  data-markettype="<{$itv['id']}>" ><{$catarr[$itv['cattype']]}>-<{$itv['name']}></option>
													<{/foreach}>
							
                      </select>	</li>
     <li class='market'>
						    
	 </li>
	 <li style="line-height: 50px;">
         <span style="float:left;">正面身份证：</span>
         <img src="" width=50px height=50px id="imgshow" class="hide"/>
         <form id="form1" name="form1" method="post"  enctype="multipart/form-data" target="ifr-headpic-upload" onsubmit="return checkImagetype('1');">

                 <input name="head" type="file" id="imgFile" style="width:70px;" name="imgFile" onchange="$('#input1').val($(this).val())"  class="curbtn">
                 <input id="submitImg" type="button" value="上传" class="ss_sc curbtn" style="border:1px solid #ccc;background-color:white;height:22px;width:40px;" >

         </form>
          <input type="hidden"  id="shoplicense"/>
     </li>
     <li style="line-height: 50px;">
         <span style="float:left;">背面身份证：</span>
         <img src="" width=50px height=50px id="imgshow" class="hide"/>
         <form id="form1" name="form1" method="post"  enctype="multipart/form-data" target="ifr-headpic-upload" onsubmit="return checkImagetype('1');">
                 <input name="head" type="file" id="imgFile" style="width:70px;" name="imgFile" onchange="$('#input1').val($(this).val())"  class="curbtn">
                 <input id="submitImg" type="button" value="上传" class="ss_sc curbtn" style="border:1px solid #ccc;background-color:white;height:22px;width:40px;" >

         </form>
          <input type="hidden"  id="shoplicense"/>
     </li>                 
     <li style="line-height: 50px;">
         <span style="float:left;">营业执照：</span>
         <img src="" width=50px height=50px id="imgshow" class="hide"/>
         <form id="form1" name="form1" method="post"  enctype="multipart/form-data" target="ifr-headpic-upload" onsubmit="return checkImagetype('1');">

                 <input name="head" type="file" id="imgFile" style="width:70px;" name="imgFile" onchange="$('#input1').val($(this).val())"  class="curbtn">
                 <input id="submitImg" type="button" value="上传" class="ss_sc curbtn" style="border:1px solid #ccc;background-color:white;height:22px;width:40px;" >

         </form>
          <input type="hidden"  id="shoplicense"/>
     </li>
 </ul>
</div>








<!--------确认支付-------->
<div class="mesedete" style="margin-top:20px; margin-bottom:20px;"><input type="button" onclick="nextSub();" value="下一步"></div>


  </div>
</div>

<script>
    $('#submitImg').click(function(){
        ajaxFileUpload();
    });
    function ajaxFileUpload()
    {
        $("#loading")
                .ajaxStart(function(){
                    $(this).show();
                })
                .ajaxComplete(function(){
                    $(this).hide();
                });

        $.ajaxFileUpload
        (
                {
                    url:'<{ofunc type=url link="/other/userupload/type/shoplogo/datatype/json"}>',
                    secureuri:false,
                    fileElementId:'imgFile',
                    dataType: 'json',
                    data:{name:'logan', id:'id'},
                    success: function (data, status)
                    {
                        if(typeof(data.error) != 'undefined')
                        {
                            if(data.error == false)
                            {
                                $('#shoplicense').val(data.msg);
                                $('#imgshow').attr('src',data.msg);
                                $('#imgshow').show();
                            }else
                            {
                                alert(data.msg);
                            }
                        }else{
                            alert(data);
                        }
                    },
                    error: function (data, status, e)
                    {
                        alert(e);
                    }
                }
        )

        return false;

    }

    function nextSub(){
    	 var market_id = 0
    	 if ( $("#market_id").length > 0 ) { 
    		 market_id = $("#market_id").val(); 
    		} 
		  $('#loading').show();
		url = siteurl+'/index.php?ctrl=wxsite&action=sjapplyrz&datatype=json&random=@random@';
     	  url = url.replace('@random@', 1+Math.round(Math.random()*1000));
        $.ajax({         //script定义
                 url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
                 dataType: "json",
                 async:true,
                 data:{'shopphone':$("#shopphone").val(),'shopname':$("#shopname").val(),'province':$('#province').val(),'city':$('#city').val(),'county':$('#county').val(),'market_id':$('#market_id').val(),'shopaddress':$('#shopaddress').val(),'shoptype':$('#shoptype').val(),'shoplicense':$('#shoplicense').val()},
                 success:function(content) { 
                 	if(content.error ==  false){
                 		var jurl =  siteurl+'/index.php?ctrl=wxsite&action=shangjiaapply&shopphone='+content.msg.shopphone+'&shoplicense='+content.msg.shoplicense+'&shopname='+content.msg.shopname+'&shopaddress='+content.msg.shopaddress+'&shoptype='+content.msg.shoptype+'&province='+content.msg.province+'&city='+content.msg.city+'&county='+content.msg.county+'&market_id='+content.msg.market_id ;
                        window.location.href= 	 jurl
							
                 	}else{
                 		Tmsg(content.msg);
                 	}
                  	$('#loading').toggle();
                 
                 },
                 error:function(){
                  $('#loading').toggle();
                 }
        }); 
		// setTimeout("myyanchi()", 500 ); 
	  $('#loading').show();
}

  
    
    $(document).ready(function(){  
   	  var markettype = $("#shoptype").find("option:selected").attr("data-markettype");
   	    getMarketList(markettype)
   	  
      $('#shoptype').change(function(){   
   	  var markettype = $("#shoptype").find("option:selected").attr("data-markettype");
   	     getMarketList(markettype)
      }) 
      
     
   })
    function getMarketList(markettype){
    	url = siteurl+'/index.php?ctrl=wxsite&action=getMarketbyTypeid&datatype=json&random=@random@';
    	url = url.replace('@random@', 1+Math.round(Math.random()*1000));
    	$('.market').html('')
        $.ajax({         //script定义
               url: url.replace('@random@', 1+Math.round(Math.random()*1000)),
               dataType: "json",
               async:true,
               data:{'markettype':markettype},
               success:function(data) { 
            	   if(data.code){
            		   var marketlist = data.data
            		   len = marketlist.length
            		   var html ="<span>选择菜市场：</span><select name='market_id' id='market_id'>";
            		   for(var i = 0 ;i<len;i++){
            			   html =html +"<option value="+marketlist[i]['id']+">"+marketlist[i]['name']+"</option>"
            		   }
            		   html =html +"</select>";
            	   }
            	   $('.market').html(html)
               }
         })  
    }
    
    
  
    $(document).ready(function(e){
    	  //当省选中的话市也会跟着变去也会变。市和区都会加载一遍
    	  FillSheng();//省
    	  FillShi();//市
    	  FillQu();//区
    	  //给省加点击事件
    	  $("#province").change(function(){
    	      FillShi();//市
    	      FillQu();//区
    	    })
    	  //给市加点击事件
    	  $("#city").change(function(){
    	      FillQu();//区
    	   })
    });
    
    function FillSheng()
    {
      var pid = "100000";
      $.ajax({
        async:false,
        url: '<{ofunc type=url link="/wxsite/getareainfo/datatype/json"}>',
        data:{pid:pid},
        type:"POST",
        dataType:"TEXT",
        success: function(data){
        	 var obj = JSON.parse(data); 
        	 var areainfo = obj.msg.areainfo
          //返回数据,根据行于行之间的分隔符来拆,拆完之后会返回一数组/行的数组
          var str = "<option value='0' >请选择省份</option>";
          //把行的数组遍历下用for循环...length长度
          for(var i=0;i<areainfo.length;i++)
          {
            str += "<option value='"+areainfo[i]['id']+"' data-id='"+areainfo[i]['id']+"'>"+areainfo[i]['shortname']+"</option>";
            $("#province").html(str);
          }
        }
      });
    }
    
    	//填充市的方法
    	function FillShi()
    	{
    	  var pid =$ ("#province").find ("option:selected").attr ("data-id");
    	  $.ajax({
    	    async:false,//****
    	    url: '<{ofunc type=url link="/wxsite/getareainfo/datatype/json"}>',
    	    data:{pid:pid},
    	    type:"POST",
    	    dataType:"TEXT",
    	    success: function(data){
    	   	 var obj = JSON.parse(data); 
    	   	 var areainfo = obj.msg.areainfo
    	     //返回数据,根据行于行之间的分隔符来拆,拆完之后会返回一数组/行的数组
    	     var str = "<option value='0' >请选择市</option>";
    	     //把行的数组遍历下用for循环...length长度
    	     for(var i=0;i<areainfo.length;i++)
    	     {
    	       str += "<option value='"+areainfo[i]['id']+"' data-id='"+areainfo[i]['id']+"'>"+areainfo[i]['shortname']+"</option>";
    	       $("#city").html(str);
    	     }
    	   }
    	  });
    	  
    	}
    	//填充区的方法
    	function FillQu()
    	{
    	  var pid = $ ("#city").find ("option:selected").attr ("data-id");
    	  $.ajax({
    	    async:false,
    	    url: '<{ofunc type=url link="/wxsite/getareainfo/datatype/json"}>',
    	    data:{pid:pid},
    	    type:"POST",
    	    dataType:"TEXT",
    	    success: function(data){
    	      	 var obj = JSON.parse(data); 
    	      	 var areainfo = obj.msg.areainfo
    	        //返回数据,根据行于行之间的分隔符来拆,拆完之后会返回一数组/行的数组
    	        var str = "<option value='0' >请选择县/区</option>";
    	        //把行的数组遍历下用for循环...length长度
    	        for(var i=0;i<areainfo.length;i++)
    	        {
    	          str += "<option value='"+areainfo[i]['id']+"' data-id='"+areainfo[i]['id']+"'>"+areainfo[i]['shortname']+"</option>";
    	          $("#county").html(str);
    	        }
    	      }
    	  });
    	
    	} 
</script>
 
<{/block}>