 <{extends file="<{$tempdir}>/public/site.html"}>   
<{block name=extendjs}>
<{/block}>
<{block name=extendcss}>
<link rel="stylesheet" type="text/css" href="<{$siteurl}>/templates/<{$tempdir}>/public/css/floor.css"> 
<{/block}>
<{block name=sitetitle}>网站动态<{/block}>
 <{block name=bodylist}>


	<div class="news_det">
    <div class="hd">
        <h2><{$newsshow['title']}></h2>
        <h1 style="text-align: right;"><{$newsshow['addtime']|date_format:"%Y-%m-%d"}></h1>
    </div>
    <div class="wrap-main">
       <{$newsshow['content']|htmlspecialchars_decode|default:'暂无内容'}>
    </div>
    <div class="nbtn">
     
        <p style="margin-left:65px; margin-top:10px;"><a href="<{ofunc type=url link="/site/news/"}>">返回</a></p>
    </div>
</div>
	
	
</div><style type="text/css">
    <!-- reset -->
    body,h1,h2,h3,h4,h5,h6,p,a,span{margin:0;padding:0;-webkit-margin-before: 0;-webkit-margin-after: 0;}
    h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;-webkit-margin-before: 0;-webkit-margin-after: 0;}
    em{font-style:normal;}
   
    body{margin:0;font:16px "Microsoft Yahei",arial,"Hiragino Sans GB",sans-serif; color:#323232; }
    .clearfix:after{display: block; content: "\20"; height: 0; clear: both; overflow: hidden; visibility: hidden;}
    .clearfix{*zoom:1;}
    <!-- common -->
    .pl-50{padding-left:50%;}
    .ml-88{margin-left:-88px;}
    .t-indent{text-indent:2em;}
    <!-- layout-->
    .1{}
    .hd{padding:0 15px;max-width:1025px;margin: 0 auto;}
    .hd h2{text-align: center;font-size: 22px;line-height:3em;}
    .wrap-main{max-width: 1025px;margin: 0 auto;padding: 15px 15px 45px 15px;}
    .wrap-main p{font-size: 15px;line-height: 23px;text-indent: 2em;line-height:3em;}
    .wrap-main span{display: block;font-size: 15px;line-height: 23px;line-height:2em;}
    .wrap-main .time{color:#d60707;text-indent:0;text-align:center;}
    .wrap-main h3{font-size: 17px;line-height:3em;}
    .ft{position: fixed;width: 100%;bottom: 0;padding: 10px 0;border-top: 1px solid #ccc;text-align: center;background-color:#fff;}
    .ft .btn{cursor: pointer;display: block;}
</style>
<{/block}>