 <{extends file="<{$tempdir}>/public/admin.html"}> 
  
 <{block name=controlname}>添加分站<{/block}>
 <{block name=bodylist}>
   <div style="width:auto;overflow-x:hidden;overflow-y:auto"> 
          <div class="tags">
           <{load_data assign="info" table="admin" where="`uid`=$id"  type="one"}> 
           <{load_data assign="stationinfo" table="stationadmininfo" where="`uid`=$id"  type="one"}> 
          <div id="tagscontent">
            <form method="post" name="form1" action="<{ofunc type=url link="/adminpage/station/module/savestationadmin/datatype/json"}>" onsubmit="return subform('<{ofunc type=url link="/adminpage/station/module/stationlist"}>',this);">
              <div>
                <table border="0" cellspacing="2" cellpadding="4" class="list" name="table" id="table" width="100%">
                  <tbody>
                    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">分站账号</td>
                      <td><input type="text" name="username" id="username" value="<{$info['username']|default:''}>" class="skey" style="width:150px;" <{if !empty($info)}> readonly<{/if}>></td>
                    </tr> 
                    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">分站密码</td>
                      <td><input type="password" name="password" id="password" value="" class="skey" style="width:250px;"></td>
                    </tr> 
                  
                    <input type="hidden" name="uid" id="uid" value="<{$info['uid']}>" class="skey" style="width:150px;">
					 
				  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">分站名称</td>
                      <td><input type="text" name="stationname" id="stationname" value="<{$stationinfo['stationname']|default:''}>" class="skey" style="width:250px;"></td>
                    </tr>
					  <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">分站负责人</td>
                      <td><input type="text" name="stationusername" id="stationusername" value="<{$stationinfo['stationusername']|default:''}>" class="skey" style="width:250px;"></td>
                    </tr> 
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">分站联系电话</td>
                      <td><input type="text" name="stationphone" id="stationphone" value="<{$stationinfo['stationphone']|default:''}>" class="skey" style="width:250px;"></td>
                    </tr>
					
                    <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">所属城市</td>
                        <td>
                         <select name="provinceid" id="provinceid">
                      	       <option value="0">请选择所属省</option>
                      	       <{foreach from=$citylist key=myid  item=items}>  
							        <option value="<{$items['id']}>" <{if $stationinfo['cityid'] == $items['id']}>selected<{/if}>><{$items['name']}></option>
							   <{/foreach}> 	
                         </select>
                         <select name="cityid" id="cityid">
                      	       <option value="0">请选择所属市</option>
                         </select>
                         <select name="countyid" id="countyid">
                      	       <option value="0">请选择所属区</option>
                         </select>
                      	</td>
                    </tr> 
					
					
					 
					 <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">分站位置</td>
                      <td><!-- <input type="text"  readonly  value="拾取坐标" class="skey" style="width:100px;"> -->
					  <input type="hidden" name="stationlnglat" id="stationlnglat" readonly  value="<{$stationinfo['stationlnglat']|default:''}>" class="skey" style="width:250px;">
					  </td>
                    </tr>
					 <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
                      <td class="left">&nbsp;</td>
                      <td><input type="text" name="stationaddress" id="stationaddress" placeholder="分站地址" value="<{$stationinfo['stationaddress']|default:''}>" class="skey" style="width:250px;"></td>
                    </tr>
					<tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
					  <td class="left">优惠促销权限</td>
                      <td><input type="radio" <{if $stationinfo['is_selfsitecx'] == 1  }>checked<{/if}>  name="is_selfsitecx" value="1" />允许独立设置优惠促销
                       <input type="radio" <{if $stationinfo['is_selfsitecx'] == 0  }>checked<{/if}>   name="is_selfsitecx" value="0">不允许独立设置优惠促销<font style="color:red">（当设置为不允许时，该分站后台独立设置的优惠促销活动将会被删除）</font></td>
                    </tr>
					 <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
					  <td class="left">排序</td>
                      <td><input type="text" name="orderid" id="orderid"   value="<{$stationinfo['orderid']|default:''}>" class="skey" style="width:100px;"></td>
                    </tr>
					 <tr onmouseover="this.bgColor='#F5F5F5';" onmouseout="this.bgColor='ffffff';" bgcolor="ffffff">
					  <td class="left">是否启用</td>
                      <td><input type="radio" <{if $stationinfo['stationis_open'] == 0  }>checked<{/if}>  name="stationis_open" value="0" />是
                       <input type="radio" <{if $stationinfo['stationis_open'] == 1  }>checked<{/if}>   name="stationis_open" value="1">否</td>
                    </tr>
					
                   
                  </tbody>
                </table>
              </div>
              <div class="blank20"></div>
              <input type="hidden" name="tijiao" id="tijiao" value="do" class="skey" style="width:250px;">
              <input type="hidden" name="saction" id="saction" value="siteset" class="skey" style="width:250px;">
               <input type="submit" value="确认提交" class="button">  
            </form>
          </div>
        </div>
        <div class="blank20"></div> 
      
      </div>
      <div class="clear"></div>
    </div>
   
   
    </div> 
<script>	 
function checkword(flag)
{ 
	 
	$("input[name='limit[]']").attr("checked",flag); 
}

//JavaScript Document
$(document).ready(function(e){

    
  //当省选中的话市也会跟着变去也会变。市和区都会加载一遍
   FillSheng();//省
  FillShi();//市
  FillQu();//区
  //给省加点击事件
  $("#provinceid").change(function(){
      FillShi();//市
      FillQu();//区
    })
  //给市加点击事件
  $("#cityid").change(function(){
      FillQu();//区
   })
  
});
//做三个方法分别为省市区
//填充省的方法，如何在表里查询 出省的代号例如：北京0001、天津0001,中国下面所有省都是0001开头的
function FillSheng()
{
  var pid = "1";
  $.ajax({
    async:false,
    url: '<{ofunc type=url link="/adminpage/area/module/getareainfo/datatype/json"}>',
    data:{pid:pid},
    type:"POST",
    dataType:"TEXT",
    success: function(data){
    	 var obj = JSON.parse(data); 
    	 var areainfo = obj.msg.areainfo
      //返回数据,根据行于行之间的分隔符来拆,拆完之后会返回一数组/行的数组
      var str = "<option value='' >请选择地区</option>";
      //把行的数组遍历下用for循环...length长度
      for(var i=0;i<areainfo.length;i++)
      {
        str += "<option value='"+areainfo[i]['id']+"' data-id='"+areainfo[i]['id']+"'>"+areainfo[i]['name']+"</option>";
         
        $("#provinceid").html(str);
      }
    }
  });
}
//填充市的方法
function FillShi()
{
  var pid =$ ("#provinceid").find ("option:selected").attr ("data-id");
  $.ajax({
    async:false,//****
    url: '<{ofunc type=url link="/adminpage/area/module/getareainfo/datatype/json"}>',
    data:{pid:pid},
    type:"POST",
    dataType:"TEXT",
    success: function(data){
   	 var obj = JSON.parse(data); 
   	 var areainfo = obj.msg.areainfo
     //返回数据,根据行于行之间的分隔符来拆,拆完之后会返回一数组/行的数组
     var str = "<option value='' >请选择市</option>";
     //把行的数组遍历下用for循环...length长度
     for(var i=0;i<areainfo.length;i++)
     {
       str += "<option value='"+areainfo[i]['id']+"' data-id='"+areainfo[i]['id']+"'>"+areainfo[i]['name']+"</option>";
        
       $("#cityid").html(str);
     }
   }
  });
  
}
//填充区的方法
function FillQu()
{
  var pid = $ ("#cityid").find ("option:selected").attr ("data-id");
  $.ajax({
    async:false,
    url: '<{ofunc type=url link="/adminpage/area/module/getareainfo/datatype/json"}>',
    data:{pid:pid},
    type:"POST",
    dataType:"TEXT",
    success: function(data){
      	 var obj = JSON.parse(data); 
      	 var areainfo = obj.msg.areainfo
        //返回数据,根据行于行之间的分隔符来拆,拆完之后会返回一数组/行的数组
        var str = "<option value='' >请选择市</option>";
        //把行的数组遍历下用for循环...length长度
        for(var i=0;i<areainfo.length;i++)
        {
          str += "<option value='"+areainfo[i]['id']+"' data-id='"+areainfo[i]['id']+"'>"+areainfo[i]['name']+"</option>";
           
          $("#countyid").html(str);
        }
      }
  });
  
}
</script>
<{/block}>